@model BranchMasterPostModel

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="BranchName" class="form-label fw-medium"></label>
            <input asp-for="BranchName" class="form-control" placeholder="Enter branch name" />
            <span asp-validation-for="BranchName" class="text-danger small"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <div class="form-check form-switch mt-4 pt-2">
                <input asp-for="IsActive" class="form-check-input" role="switch" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>
        </div>
    </div>
</div>
